*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif;
}
.hero-container
{
    display: flex;
    min-height:400px; 
    max-height: 500px; 
    overflow-x:hidden;
    background-color: var(--color-primary-100);
    align-items: center;

}
.content-container
{
    display: flex;
    min-width: 45%;
}
.content{
    align-self:center;
    margin-left: 35px;
}
.content h1{
   font-size: 3.3em;
   line-height: 100%;
   margin-bottom: 14px;
   color: rgb(0, 0, 0);
}
.content p{
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    font-size:2em;
}   
.hero-btn{
    width: 200px;
    background-color: var(--color-secondary-250);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:none;
    font-size: 1.3em;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: #ffffff;
}
.hero-btn:hover{
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.2);
    background-color: var(--color-secondary-200);
}

.image{
    width: 100%; 
    height: 100%;
     
}
.image-div{
   max-width: 50%;
   /* border-radius: 20px 0 0 20px; */
   clip-path: xywh(0 5px 100% 100% round 50px);
   overflow: hidden;
   height: 80%;
   margin-right: 20px;
}