@import url("../../../colors.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif;
}
.hero-container
{
    display: flex;
    min-height:400px; 
    max-height: 500px; 
    overflow-x:hidden;
    background-color: var(--color-primary-100);

}
.content-container
{
    display: flex;
    min-width: 45%;
}
.content{
    align-self:center;
    margin-left: 35px;
}
.content h1{
   font-size: 3.3em;
   line-height: 100%;
   margin-bottom: 14px;
   color: rgb(0, 0, 0);
}
.content p{
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    font-size:2em;
}   
.hero-btn{
    width: 200px;
    background-color: var(--color-secondary-250);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:none;
    font-size: 1.3em;
    transition: 0.2s ease-out;
    text-decoration: none;
    color: #ffffff;
}
.hero-btn:hover{
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.2);
    background-color: var(--color-secondary-200);
}

.image{
    width: 100%; 
    height: 100%;
     
}
.image-div{
   min-width: 45%;
   border-radius: 200px 0 0 200px;
   overflow: hidden;
   height: 405px;
}