/* @import url("../../../colors.css");
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-150);
    padding: 10px;
    position: sticky;
    top: 0;
  }
  
  #logo {
    width: 50px;
    height: 50px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .logo a {
    text-decoration: none;
    font-size: 24px;
    font-family: monospace, arial;
    font-weight: bold;
    color: #000;
    margin-left: 20px;
  } */
  /* no use */
  /* .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 30px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .nav-btn {
    background-color: rgb(191, 144, 191);
    padding: 2px 2px;
    border-radius: 5px;
  }
  
  .nav-btn:hover {
    background-color: #f30aff;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.2);
  } */