@import url("../../../colors.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-150);
  padding:10px;
} */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-150);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  box-shadow: 5px 5px 70px 10px rgba(0,0,0,0.2);  
  }

#logo{
  width: 50px;
  height: 50px;
}
.logo a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Sedan SC", serif !important;
  font-weight: bold;
   color: #000; 
  margin-left: 20px;
  align-self: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  width: 20%;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  font-size : 16px;
}

.nav-btn  {
  padding: 8px 12px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
/* 
.nav-btn :hover {
  
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.3);
} */
.logo{
  margin-left: 30px;
  display: flex;
}
.login .nav-link{
    color: #000;
    font-weight: 500;
}
.login .nav-link:hover{
    color: var(--color-secondary-250);
}
.nav-btn.sign-up{
    background: var(--color-secondary-250);
}
.sign-up .nav-link{
  color: #fff;
}
.nav-btn.sign-up:hover{
  background-color: var(--color-secondary-200);
}
#close-btn, #menu-btn{
  display: none;
}
/* @media screen and (max-width:500px) {
  .nav-container{
    min-width: 100vw;
  }
  .nav-link{
    display: none;
  }
  #close-btn, #menu-btn{
   display: inline;
  }
} */