.previous-hosted{
    background-color:var(--color-primary-100);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.previous-hosted h1{
    align-self: center;
    color: #000000;
}
.accordion-text{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;
}
.accordion-description{
    font-size: 1.2em ;
    margin-bottom: 4px;
}
 .accordion-container{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 40%;  
    border-radius: 5px;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.accordion-title{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin: 10px auto ;
    padding: 5px 10px;
    font-weight: 300;
    cursor: pointer;
}
.accordion-title h3{
    font-weight: 300;
    font-size: 1.4em;
}
.accordion-content{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(156, 160, 160); */
    justify-content: space-between;
    margin: 10px auto ;
    padding: 5px 10px;
    
}
.accordion-item{
    border-bottom: 1px solid black;
} 
.null-data{
 height:200px;
 align-self: center;
 align-content: center;
 color: rgb(255, 0, 0) !important;
}
.null-data + .accordion-container{
    display: none;
}


.upcoming-hosted{
    background-color:var(--color-primary-100) ;
    min-height: 400px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.upcoming-hosted h1{
    align-self: center;
    color: #000000;
}
/* .upcoming-accordion-container{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: 40%;   
}
.upcoming-accordion-title{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px ;
    padding: 5px 10px;
}
.upcoming-accordion-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 160, 160);
    justify-content: space-between;
    margin: 0px 15px ;
    padding: 5px 10px;
}
.upcoming-accordion-item{
    margin-top: 10px;
    margin-bottom: 2px;
} */
