.finished-events{
    background-color:rgb(86, 83, 83);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.finished-events h1{
    align-self:center;
    color: #fff;
}
.accordion-container{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: 40%;   
}
.accordion-title{
    display: flex;
    background-color: rgb(150, 182, 213);
    justify-content: space-between;
    margin: 0px 15px 0px ;
    padding: 5px 10px;
}
.accordion-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 160, 160);
    justify-content: space-between;
    margin: 0px 15px ;
    padding: 5px 10px;
}
.accordion-item{
    margin-top: 10px;
    margin-bottom: 15px;
}
.null-data{
 height:200px;
 align-self: center;
 align-content: center;
 color: white
}


.upcoming-enrolled-events{
    background-color:rgb(103, 90, 90);
    display: flex;
    padding: 20px;
    min-height: 300px;
    flex-direction: column;
}
.upcoming-enrolled-events h1{
    align-self:center;
    color: #000000;
}
.upcoming-accordion-container{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: 40%;   
}
.upcoming-accordion-title{
    display: flex;
    background-color: rgb(150, 182, 213);
    justify-content: space-between;
    margin: 0px 15px 0px ;
    padding: 5px 10px;
}
.upcoming-accordion-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 160, 160);
    justify-content: space-between;
    margin: 0px 15px ;
    padding: 5px 10px;
}
.upcoming-accordion-item{
    margin-top: 10px;
    margin-bottom: 2px;
}

.btn-unenroll{
    align-self: center;
    margin-bottom: 5px;
    border-radius: 3px;
    border: none;
    background-color:rgb(111, 147, 147);
    padding: 5px;
    transition: 0.2s ease-out;
}
.btn-unenroll:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.accordion-title,.upcoming-accordion-title:hover{
    cursor: pointer;
}