:root{
    --color-primary-100: #F5F0FA;
    --color-primary-150: #ebe0f5;
    --color-primary-200: #E1d1f0;
    --color-primary-250: #3E1E5C;
    --color-secondary-250:#4E4BFB;
    --color-secondary-200:#625FFC;
    --color-secondary-150:#7573FC;
}